/*-------------------------COMMUN--------------------------------*/
body {
    margin: 0;
    font-family: 'Roboto';
    background: #F3E8D0;
    color: #2A2A2A;
}

a {
    text-decoration: none;
    color: #2A2A2A;
}

h2{
    text-align: center;
}

/*---------------------------Header---------------------------------*/
.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
}

.about-btn {
    background: #C8AC6E;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: bold;
}

.profile-icon img {
    width: 45px;
    height: 45px;
    padding: 10px;
    background: #C8AC6E;
    border-radius: 50%;
}

/*-------------------------------Barre de recherche---------------------------*/
.search-container {
    margin: 40px auto;
    width: 50%;
    background: #C8AC6E;
    padding: 15px 25px;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.search-container input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 18px;
    outline: none;
}

.search-btn {
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}

/* ------------------------------Filtres---------------------------------- */
.recherche{
    width: 2rem;
    height: 2rem;
}

.filters {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.filters select {
    padding: 12px;
    border-radius: 10px;
    border: none;
    color: #F3E8D0;
    background: #2A2A2A;
    font-size: 16px;
    cursor: pointer;
}

/* -------------------------------Gallerie outils-------------------------------- */
.gallerie {
    width: 60%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 40px;
    justify-content: center;
   
}

.card {
    background: #C8AC6E;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.img-placeholder img {
    width: 120px;
    height: 120px;
    opacity: 0.7;
}

.card h3 {
    margin: 10px 0;
}

.reserve-btn {
    margin-top: 10px;
    background: #2A2A2A;
    color: #F3E8D0;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.reserve-btn:hover {
    background: #2A2A2A;
}


/* -------------------------------À PROPOS---------------------------------- */

.apropos-container {
    background: #C8AC6E;
    width: 70%;
    margin: 80px auto;
    padding: 50px;
    border-radius: 30px;
    text-align: center; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.apropos-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.apropos-container p {
    font-size: 20px;
    line-height: 1.7;
}





/* ------------------------------Page produit----------------------------------- */

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}


/* --------------------------------Carte produit-------------------------------- */
.product-card {
    margin: 5rem;
    width: 350px;
    background: #C8AC6E;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.08);
}

.product-image {
    width: 100%;
    height: 240px;
    border-radius: 20px;
    background: linear-gradient(#D8EBFF, #B4D389);
    margin-bottom: 20px;
}

.info .label {
    font-size: 14px;
    font-weight: 600;
    color: #444;
    margin: 5px 0 0;
}

.info .value {
    margin-top: -5px;
    margin-bottom: 15px;
}

/*--------------------------------Bouton réserver------------------------------*/

.btn-reserver {
    width: 100%;
    background: #2A2A2A;
    color: white;
    border: none;
    padding: 18px;
    border-radius: 40px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.btn-reserver:hover {
    opacity: 0.8;
}

/*-------------------------------Bloc connexion--------------------------------*/

.login-box {
    margin-bottom: 5rem;
    margin-top: 5rem;
    margin-left: 1.5rem;
    margin-right: 5rem;
    flex: 1;
    background: #C8AC6E; 
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.08);
}

.login-box h2 {
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 1.4;
}

.inputs {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
}

.input-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-block label {
    font-size: 15px;
    margin-bottom: 10px;
}

.input-block input {
    padding: 15px;
    border: 2px solid #E4E4E4;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
}

/* ---- Bouton connexion ---- */
.btn-login {
    background: #2A2A2A;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-login:hover {
    opacity: 0.85;
}





/* --------------------------------PROFIL côté gauche---------------------------- */

.title {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 50px;
}

.profile-card {
    margin: 5rem;
    width: 380px;
    background: #C8AC6E;
    padding: 35px;
    border-radius: 35px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.10);
}

.profile-img {
    width: 100%;
    height: 180px;
    background: linear-gradient(#D8EBFF, #B4D389);
    border-radius: 25px;
    margin-bottom: 30px;
}

.profile-info .label {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 2px;
}

.profile-info .value {
    margin-top: -5px;
    margin-bottom: 20px;
    font-size: 15px;
}

/* Bouton supprimer */
.btn-delete {
    background: #E6514A;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 30px;
    margin: 10px 0;
    cursor: pointer;
    width: fit-content;
}

/* Bouton déconnexion */
.btn-logout {
    background: #2A2A2A;
    color: white;
    border: none;
    padding: 18px 25px;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    display: block;
    margin-top: 40px;
}

/* -------------------Réservation côté droit---------------------- */

.reservations {
    flex: 1;
}

.subtitle {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
}

/* Box arrondie */
.box {
    margin-right: 5rem;
    background: #C8AC6E;
    padding: 40px;
    border-radius: 60px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.08);
    margin-bottom: 50px;
}

.section-title {
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
    font-weight: 600;
}

/* Lignes tableau */
.line {
    display: grid;
    grid-template-columns: 1fr 0.6fr 1fr 0.8fr;
    padding: 12px 0;
    border-top: 4px solid #E0E0E0;
    font-size: 17px;
}





